<div class="container-fluid g-0 border-bottom" id="navMenu">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="d-flex align-items-center">
                    <div class="w-50">
                        <img src="../../app/assets/secureworks_high_res_logo.png" alt="logo" class="w-25">
                    </div>
                    <div class="w-50 d-flex justify-content-end">
                        <ul class="p-0 m-0 d-flex">
                            <ng-container *ngFor="let menu of navItems">
                                <li>
                                    <a routerLink="{{menu.route}}" routerLinkActive="activeLink" [routerLinkActiveOptions]="{exact : true}" class="d-block">
                                        <span class="d-block p-3">{{menu.label}}</span>
                                    </a>
                                </li>
                            </ng-container>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>